.tile
{
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tile p
{
  margin: 0px;
}
