<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="tile">
      <br>
      Name: {{starship.name}}
      <br>
      Class: {{starship.starship_class}}
      <br>
      Manufacturer: {{starship.manufacturer}}
      <br>
      Crew: {{starship.crew}}
      <br>
      Passengers: {{starship.passengers}}
      <br>
      Cargo Copacity: {{starship.cargo_capacity}}
      <br>
      Price: {{starship.cost_in_credits}} Credits
      <br>
      <br>
      <button ui-sref="starships">
        all Starhips
      </button>
    </div>
  </body>
</html>
